@model Request

<h2>Request Details</h2>
<a href="@Url.Action("ViewGroupRequests", "Request")" class="btn btn-secondary">Back to Requests</a>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Booking #@Model.Id</h5>

        <p><strong>Title</strong> @Model.Title</p>
        <p><strong>Content</strong> @Model.Content</p>
        <p><strong>Status</strong> @Model.Status</p>
        <p><strong>Timestamp:</strong> @Model.Timestamp.ToString("g")</p>
    </div>
</div>