@model User

<div class="card bg-purple text-white mb-4">
    <div class="card-body">
        <h1 class="text-center mb-0">Update User Info</h1>
    </div>
</div>

<div class="card-body border p-4">
    <span class="text-warning">Please confirm the information before proceeding to delete.</span>
    <form method="post" class="row" enctype="multipart/form-data">
        <input asp-for="Id" value="@Model.Id" hidden />
        <div class="col-10">
            <div class="p-3">
                <div class="form-floating py-2 col-12">
                    <input disabled asp-for="Email" value="@Model.Email" class="form-control border shadow" />
                    <label asp-for="Email" class="ms-2"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input disabled asp-for="FullName" class="form-control border shadow" />
                    <label asp-for="FullName" class="ms-2"></label>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input disabled asp-for="Phone" class="form-control border shadow" />
                    <label asp-for="Phone" class="ms-2"></label>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                @if (Model.StudentDetail is not null)
                {
                    <div class="form-floating py-2 col-12">
                        <input asp-for="StudentDetail.StudentCode" value="@Model.StudentDetail.StudentCode" disabled class="form-control border shadow" />
                        <label asp-for="StudentDetail.StudentCode" class="ms-2"></label>
                        <span asp-validation-for="StudentDetail.StudentCode" class="text-danger"></span>
                    </div>
                }
                @if (Model.MentorDetail is not null)
                {
                    <div class="form-floating py-2 col-12">
                        <input asp-for="MentorDetail.MainProgrammingLanguage" value="@Model.MentorDetail.MainProgrammingLanguage" disabled class="form-control border shadow" />
                        <label asp-for="MentorDetail.MainProgrammingLanguage" class="ms-2"></label>
                        <span asp-validation-for="MentorDetail.MainProgrammingLanguage" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="MentorDetail.AltProgrammingLanguage" value="@Model.MentorDetail.AltProgrammingLanguage" disabled class="form-control border shadow" />
                        <label asp-for="MentorDetail.AltProgrammingLanguage" class="ms-2"></label>
                        <span asp-validation-for="MentorDetail.AltProgrammingLanguage" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="MentorDetail.Framework" value="@Model.MentorDetail.Framework" disabled class="form-control border shadow" />
                        <label asp-for="MentorDetail.Framework" class="ms-2"></label>
                        <span asp-validation-for="MentorDetail.Framework" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="MentorDetail.Education" value="@Model.MentorDetail.Education" disabled class="form-control border shadow" />
                        <label asp-for="MentorDetail.Education" class="ms-2"></label>
                        <span asp-validation-for="MentorDetail.Education" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="MentorDetail.AdditionalContactInfo" value="@Model.MentorDetail.AdditionalContactInfo" disabled class="form-control border shadow" />
                        <label asp-for="MentorDetail.AdditionalContactInfo" class="ms-2"></label>
                        <span asp-validation-for="MentorDetail.AdditionalContactInfo" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="MentorDetail.Description" value="@Model.MentorDetail.Description" disabled class="form-control border shadow" />
                        <label asp-for="MentorDetail.Description" class="ms-2"></label>
                        <span asp-validation-for="MentorDetail.Description" class="text-danger"></span>
                    </div>
                }
                <div class="form-floating py-2 col-12">
                    <input disabled asp-for="ProfilePhoto" class="form-control border shadow" />
                    <label asp-for="ProfilePhoto" class="ms-2"></label>
                    <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger w-100">
                            <i class="bi bi-trash-fill"></i> Delete
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Admin" asp-action="ManageUser" class="btn btn-secondary w-100">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <img src="@Model.ProfilePhoto" width="100"
                 style="border-radius: 10px; border: 1px solid #bbb9b9" />
        </div>
    </form>
</div>



<style>
    .bg-purple {
        background-color: #6f42c1;
    }

    .text-purple {
        color: #6f42c1;
    }

    .btn-purple {
        background-color: #6f42c1;
        color: white;
    }

        .btn-purple:hover {
            background-color: #5a32a3;
            color: white;
        }
</style>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}