@model StudentGroupDetailVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/student/group.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        @if (Model.StudentGroup is null)
                        {
                            <div class="card-body border p-4">
                                <h2>You are not in any group.</h2>
                                <span>Mind getting started with a group?</span>
                                <a asp-action="Create" asp-controller="StudentGroup">Create a group</a>
                            </div>
                        }
                        else
                        {
                            <h2 class="card-title">Group Name: @Model.StudentGroup.GroupName</h2>
                            <h5 class="card-subtitle mb-2 text-muted">Topic: @Model.StudentGroup.Topic?.Name</h5>
                            <p class="card-text"><strong>Wallet Points:</strong>  @Model.StudentGroup.Wallet.Balance</p>
                            <h5 class="mt-4">Members:</h5>
                            <ul class="member-list">
                                @foreach (var student in Model.GroupMembers)
                                {
                                    <li>
                                        @if (student.IsLeader)
                                        {
                                            <strong>@student.User.FullName (Leader)</strong>
                                            <br>
                                            <small>Student Code: @student.StudentCode | Email: @student.User.Email</small>
                                        }
                                        else
                                        {
                                            <strong>@student.User.FullName</strong>
                                            <br>
                                            <small>Student Code: @student.StudentCode | Email: @student.User.Email</small>
                                        }
                                    </li>
                                }
                            </ul>
                            @if (Model.Student.IsLeader)
                            {
                                <div class="mt-4">
                                    <button class="btn btn-primary me-2">
                                        <a asp-action="AddMember" asp-controller="StudentGroup" class="text-dark">Add new members</a>
                                    </button>
                                    <button class="btn btn-primary me-2">
                                        <a asp-action="Edit" asp-controller="StudentGroup" asp-route-groupId="@Model.StudentGroup.Id" class="text-dark">Edit group info</a>
                                    </button>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (TempData["ValidateMessage"] != null)
    {
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                var myModal = new bootstrap.Modal(document.getElementById('validationModal'));
                myModal.show();
            });
        </script>
    }

    <!-- Modal Structure -->
    <div class="modal fade" id="validationModal" tabindex="-1" aria-labelledby="validationModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="validationModalLabel">Validation Message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <h4 style="color: red">@TempData["ValidateMessage"]</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>